

#pav1 {
    background-color: rgb(228, 200, 166);
    height: 20px;
    font-size: 30px;
    font-family:"Brush Script MT";
}




.deze {
    padding: 15px;
    margin-top: 20px;
    width: 20%;
    background-color: rgb(255, 249, 241);
    border-radius: 10px;
    border:1px solid rgb(155, 123, 81);
    height: 400px;
    display: flex;
    flex-direction: column;
}

.eilute {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.pav2 {
    text-align: center;
    color:rgb(155, 123, 81);
    font-size: 25px;
}

.ingrediantai {
    color:rgb(155, 123, 81);
    font-size: 15px;
    margin-bottom: 10px;
}

.pasirinkimas {
    color:rgb(155, 123, 81);
    font-size: 20px;
}

.kaina {
    color:rgb(155, 123, 81);
    font-size: 20px;
}


#meniuzemiau {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: rgb(248, 231, 210);
    height: 100px;
    flex: 1;
}



.tarpas {
    height:17px;
}

.taskai {
    border-bottom: 2px dotted rgb(155, 123, 81);
    flex:1;
  }



.ikona {
    height: 90px;
    margin-top: auto;
}

